<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174568161980-vtndln1t09dkg8jb99f68t8k7qdfvd6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174568161980-vtndln1t09dkg8jb99f68t8k7qdfvd6a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174568161980-h4gm3rjn2pgqda3k1v3vmle2an0e6kvn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtm0SMto-PHtIlD5cXlpTVppLxFQeo230</string>
	<key>GCM_SENDER_ID</key>
	<string>174568161980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rn.map</string>
	<key>PROJECT_ID</key>
	<string>testlogin-8d078</string>
	<key>STORAGE_BUCKET</key>
	<string>testlogin-8d078.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174568161980:ios:85bea16eb4be6df23686b9</string>
	<key>DATABASE_URL</key>
	<string>https://testlogin-8d078-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>